html{
    background-image: linear-gradient(to right, #496BBA, #CC7890, #D6A89E);
}

body{
    width: 80%;
    max-width: 1280px;
    margin: auto;
    color: #172577;
}

header{
    text-align: center;
    background-color: #0a155c;
    border: solid;
    border-color: #0a155c;
    border-radius: 10px;
}

p{
    text-indent: 1em;
}

h1{
    background: -webkit-linear-gradient(#CC7890, #496BBA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    background: -webkit-linear-gradient(#CC7890, #496BBA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3{
    font-size: 1.2rem;
    text-align: center;
    color: #172577;
}

abbr{
    font-variant: small-caps;
}

a{
    color: #B9DEB9;
}
a:link{
    font-weight: bold;
}
a:hover{
    color: #81caa6;
}
a:visited{
    font-weight: normal;
}

footer{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin: 4%;
    a{
        align-self: center;
        flex-basis: 50px;
        padding: 0.5em;
        border: 2px solid;
    }
}

*[role=banner] > *{
    display: inline-block;
}

[role=banner]{
    margin: auto;
    text-align: center;
    h2{
        text-indent: 1em;  
    }
}

.intro{
    height: 550px;
}

.design-selection{
    position: absolute;
    top: 500px;
    left: 62%;
    padding: 2%;
    ul{
        list-style-type: none;
        line-height: 2em;
        text-align: center;
    }
    ul:first-child{
        li{
            border-style: solid;
            border-right: 0px;
            border-bottom: 0px;
            border-left: 0px;
            border-width: 1px;
            border-color: #1f295c;
        }
        li:last-child{
            border-style: solid;
            border-right: 0px;
            border-left: 0px;
            border-width: 1px;
            border-color: #1f295c;
        }
    }
}

.page-wrapper{
    position: relative;
}

.explanation{
    width: 60%;
    margin-right: 35%;
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-color: #1f295c;
    padding-right: 2%;
    height: 350px;

    p:nth-child(2)::first-letter{
        font-size: 300%;
        font-family:'Courier New', Courier, monospace;
        margin-right: 5%;
    }
    
}

.benefits{
    border-bottom: solid 3px #0a155c;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row-reverse;
    h3{
        align-self: center;
        flex-grow: 3;
    }
    p{
        flex-basis: 70%;
    }
}

.participation{
    border-bottom: solid 3px #0a155c;
    border-top: solid 3px #0a155c;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row-reverse;
    padding: 10px;
    h3{
        align-self: center;
        flex-grow: 5;
    }
    p{
        flex-basis: 50%;
    }
}

#design-archives{
    display: none;
}

#zen-supporting{
    line-height: 1.5;
}