html{
    width: 60%;
    color: #D9A7C2;
    background-color: #2F4B66;
}

.summary{
    text-align: center;
}

p{
    text-indent: 1em;
}

h1{
    font-size: 1.8rem;
    text-align: center;
    color: #D97789;
}

h2{
    font-size: 1.4rem;
    text-align: center;
    color: #D97789;
}

h3{
    font-size: 1.2rem;
    text-align: center;
    color: #D97789;
}

#zen-supporting{
    line-height: 1.5;
}

abbr{
    font-variant: small-caps;
}

a{
    color: #B9DEB9;
}